<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72750034964-6m2s3rn2ouv4ru8r11itc6u1inqb7cke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72750034964-6m2s3rn2ouv4ru8r11itc6u1inqb7cke</string>
	<key>API_KEY</key>
	<string>AIzaSyDLK7i1WxzJmdgBQRIEBk90panTO4Seikk</string>
	<key>GCM_SENDER_ID</key>
	<string>72750034964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiffinbox</string>
	<key>PROJECT_ID</key>
	<string>tiffinbox-9114a</string>
	<key>STORAGE_BUCKET</key>
	<string>tiffinbox-9114a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72750034964:ios:16c90cecd622fa756b3701</string>
	<key>DATABASE_URL</key>
	<string>https://tiffinbox-9114a-default-rtdb.firebaseio.com</string>
</dict>
</plist>